*
!.gitignore
!README.md
!package.json
!.github/
!.github/**
!docs/
!docs/superpowers/
!docs/superpowers/**
!docs/screenshots/
!docs/screenshots/**
!scripts/
!scripts/**
!tests/
!tests/**
!web/
!web/**
!posters/
!posters/**
